[submodule "cosmologger"]
	path = cosmologger
	url = git@github.com:mojtaba-esk/cosmologger.git
[submodule "valuter"]
	path = valuter
	url = git@github.com:mojtaba-esk/valuter.git
[submodule "valuter-ui"]
	path = valuter-ui
	url = git@github.com:archway-network/valuter-ui.git
[submodule "synaps-verifier"]
	path = synaps-verifier
	url = git@github.com:archway-network/synaps-verifier.git
